
body{
  background-color: #ECEDEF!important;
  font-family: 'Lato', sans-serif;
  scroll-behavior: smooth;
}
.o-scroll {
  background-color: #ECEDEF!important;
 
}
.c-header {
  height: 100vh;
  min-height: auto;
}
 .c-header_heading_label a{
  color:#fff;
}
.c-header_heading {
  padding: 10px;
}
.text-center{
  text-align: center;
}
.c-header_line, .c-header_title {
  text-align: center;
  width: 100%;
}
.logo img{
  width: 300px;
  margin: 2rem 0;
}
* {
  box-sizing: border-box;
}


a {
  text-decoration: none;
}

.card-body_main .menu-content {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.card-body_main .menu-content::before, .card-body_main .menu-content::after {
  content: '';
  display: table;
}
.card-body_main .menu-content::after {
  clear: both;
}
.card-body_main .menu-content li {
  display: inline-block;
}
.card-body_main .menu-content a {
  color: #fff;
}
.card-body_main .menu-content span {
  position: absolute;
  left: 50%;
  top: 0;
  font-size: 10px;
  font-weight: 700;
  font-family: 'Open Sans';
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
.card-body_main .wrapper {
  background-color: #fff;
 /* min-height: 540px;*/
  position: relative;
  overflow: hidden;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);
  height: 170px;
  /*width: 340px;*/
 transition: .8s;
 display: flex;
 align-items: center;
 justify-content: center;
}
.card-body_main .wrapper::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  background: #0000006b;
  /*background: linear-gradient(rgba(20, 22, 45, 0) 0%, #ffffff00 50%, rgba(20, 22, 45, 0) 0%, #14162d 100%);*/
  /*background: linear-gradient(rgba(20, 22, 45, 0) 0%, #ffffff00 50%, rgba(20, 22, 45, 0) 0%, #730303 100%);*/
}
.card-body_main .wrapper:hover .data {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.card-body_main .wrapper:hover {
  transform: scale(1);
}
.card-body_main .data {
 /* position: absolute;*/
  bottom: 0;
  width: 100%;
  /*-webkit-transform: translateY(calc(70px + 1em));
          transform: translateY(calc(70px + 1em));*/
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.card-body_main .data .content {
  /*padding: 1em; */
  position: relative;
  z-index: 1;
  display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.card-body_main .author {
  font-size: 1.8rem;
  font-weight: bold;
  
  text-transform: none;
}
.card-body_main .title {
  margin-top: 5px;
  font-size: 15px;
  line-height: 1.4;
  text-transform: initial;
  font-weight: lighter;
}
.card-body_main .text {
  height: 70px;
  margin: 0;
  font-size: 12px;
}
.card-body_main input[type='checkbox'] {
  display: none;
}
.card-body_main input[type='checkbox']:checked + .menu-content {
  -webkit-transform: translateY(-60px);
          transform: translateY(-60px);
}
.card-body_main {
  margin: 30px;
}

.card-banner .wrapper {
/*  background-image: linear-gradient( 
    0deg
     , #44162d 0, #44162d 52.67%, #14162d 65.33%, #de222200 50%, #ce001f00 108.67%, #c3002100 100.33%, #bb002700 100%)!important;
*/
border-radius: 10px;
}
.card-banner .wrapper:hover .menu-content span {
  -webkit-transform: translate(-50%, -10px);
          transform: translate(-50%, -10px);
  opacity: 1;
}
.card-banner .header {
  color: #fff;
  /* padding: 150px; */
  width: 100%;
  /* height: 55vh; */
  transition: .8s;

}
/*
.wrapper:hover .header {

  transform: translateY(-31px);
  filter: drop-shadow(0px 2px 1px #14162d);
}*/
.card-banner .header::before, .card-banner .header::after {
  content: '';
  display: table;
}
.card-banner .header::after {
  clear: both;
}
.card-banner .header .date {
  float: left;
  font-size: 12px;
}
.card-banner .menu-content {
  float: right;
}
.card-banner .menu-content li {
  margin: 0 5px;
  position: relative;
}
.card-banner .menu-content span {
  transition: all 0.3s;
  opacity: 0;
}
.card-banner .data {
  color: #fff;
 /* -webkit-transform: translateY(calc(85px + -40px));
  transform: translateY(calc(85px + -40px));*/
  padding: 14px;
}
.card-banner .title a {
  color: #fff;
}

.card-banner .button {
  display: flex;
  margin: 0em auto 0em;
  text-align: center;
  font-size: 12px;
  color: #fff;
  line-height: 1;
  position: relative;
  font-weight: 700;
  background: #c3000000;
  padding: 10px 10px;
  justify-content: center;
  align-items: center;
  width: 150px;
  border-radius: 2px;
  cursor: pointer;
  border: 1px solid;
}
.card-body_main:hover 
.button {
  background: #000f1f; 
}
.card-banner .button:hover {
  background: #000f1f; 
}
.card-banner .button::after {
  content: '\2192';
  opacity: 0;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  transition: all 0.3s;
}
.card-banner .button:hover::after {
  -webkit-transform: translate(5px, -50%);
          transform: translate(5px, -50%);
  opacity: 1;
}
.icon-3d{
  width: 150px;
  filter: drop-shadow(1px 4px 0px black);
}
.icon-3d-1{
 
}
.icon-3d-2{
  width: 215px;
}
.icon-3d-3{
  width: 134px;
}
.i-synthwave-indi {
  opacity: 0;
}

.s-hero {
  position: relative;
  display: table;
  width: 100%;
  height: 100vh;
}

.s-hero__scene {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.s-hero__content {
  position: relative;
  z-index: 2;
  display: table-cell;
  width: 100%;
  height: 100%;
  padding: 1.25em;
  padding-top: 4.125em;
  padding-bottom: 8.375em;
  vertical-align: bottom;
}

.s-hero__heading {
  display: none;
}

.s-hero__title {
  max-width: 13.75em;
}

@media (min-width: 30em) {
  .s-hero__content {
    padding: 2.5em;
    padding-bottom: 8.375em;
  }
}
@media (min-height: 30em) {
  .s-hero__content {
    padding-bottom: 7.125em;
  }
}
@media (min-width: 40em) {
  .s-hero__heading {
    display: block;
    text-align: left;
    vertical-align: middle;
  }

  .s-hero__title {
    max-width: 23.875em;
  }
}
@media (min-height: 40em) {
  .s-hero__content {
    padding-bottom: 10.875em;
  }
}
@media (min-height: 45em) {
  .s-hero__content {
    padding-bottom: 13.375em;
  }
}
@media (min-height: 50em) {
  .s-hero__content {
    padding-bottom: 15.875em;
  }
}
@media (min-height: 64em) {
  .s-hero__content {
    padding-bottom: 18.375em;
  }
}
@media (min-height: 75em) and (orientation: portrait) {
  .s-hero__content {
    padding-bottom: 25.875em;
  }
}
.c-scene {
  position: relative;
  overflow: hidden;
  display: block;
  height: 100%;
}

.c-scene__container {
  position: relative;
  overflow: hidden;
 
  height: 100vh;
  margin: 0 auto;
}

@media (orientation: portrait) {
  .c-scene__container {
  
    height: 0;
    padding-top: 100%;
  }
}
.c-scene__frame,
.c-scene__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.c-scene__overlay {
  z-index: -1;
  display: table;
}

.c-scene__body {
  position: relative;
  display: table-cell;
  vertical-align: middle;
}

.c-scene__cover {
  position: absolute;
  bottom: -1%;
  left: -50%;
  width: 200%;
  height: 101%;
}

.c-scene__indi {
  position: relative;
  z-index: 2;
}

@media (orientation: portrait) {
  .c-scene {
    display: flex;
    align-items: center;
  }
}
.c-scene__perspective {
  position: absolute;
  bottom: 0;
  left: -170%;
  width: 110%;
  height: 25%;
  perspective: 5vh;
  perspective-origin: 50% 50%;
  transform: scaleX(4) scaleY(4);
  transform-origin: 0% 100%;
}

.c-scene__grid {
  position: absolute;
  top: 0;
  left: 0%;
  width: 100%;
  height: 100%;
  transform: rotateX(60deg);
  transform-origin: 50% 100%;
}

.c-scene__grid-x,
.c-scene__grid-y {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-left: 0;
  background-position: 50% 50%;
  background-repeat: repeat;
  background-size: 8% 20%;
  opacity: .5;
}

.c-scene__grid-x {
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0.2) 2px, transparent 2px);
}

.c-scene__grid-y {
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.2) 1px, transparent 1px);
}

.c-scene__cover--frame {
  background: linear-gradient(rgba(20, 22, 45, 0) 0%, white 50%, rgba(20, 22, 45, 0) 75%, #14162d 100%);
  
}

.c-scene__cover--scene {
  z-index: -1;
  left: 0;
  width: 100%;
  background: linear-gradient(to top, #14162d 1px, transparent 1px);
  background-position: 50% 50%;
  background-repeat: repeat;
  background-size: 100% 2px;

}
@supports (will-change: transform) {
  .c-scene__frame {
    opacity: 0;
    will-change: opacity, transform;
    -webkit-animation-duration: 10000ms;
            animation-duration: 10000ms;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    -webkit-animation-name: fade-in;
            animation-name: fade-in;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }

  .c-scene__perspective {
    perspective-origin: 50% 100%;
    will-change: perspective-origin;
    -webkit-animation-duration: 10000ms;
            animation-duration: 10000ms;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    -webkit-animation-name: intro-perspective;
            animation-name: intro-perspective;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }

  .c-scene__grid-y {
    will-change: transform;
    -webkit-animation-duration: 10000ms;
            animation-duration: 10000ms;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-name: grid-y;
            animation-name: grid-y;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }

  .c-scene__body {
    will-change: transform;
    -webkit-animation-duration: 10000ms;
            animation-duration: 10000ms;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-name: hover;
            animation-name: hover;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes intro-perspective {
  0% {
    perspective-origin: 50% 100%;
  }
  100% {
    perspective-origin: 50% 50%;
  }
}
@keyframes intro-perspective {
  0% {
    perspective-origin: 50% 100%;
  }
  100% {
    perspective-origin: 50% 50%;
  }
}
@-webkit-keyframes grid-y {
  0% {
    transform: translateY(-20%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes grid-y {
  0% {
    transform: translateY(-20%);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes hover {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(0, 1%);
  }
  50% {
    transform: translate(0, 0);
  }
  75% {
    transform: translate(0, 1.6%);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes hover {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(0, 1%);
  }
  50% {
    transform: translate(0, 0);
  }
  75% {
    transform: translate(0, 1.6%);
  }
  100% {
    transform: translate(0, 0);
  }
}
.c-svg__text {
  font-family: sans-serif;
}

.c-svg__image {
  display: none;
}

.c-svg--logo .c-svg__text {
  font-size: 1.875em;
  font-weight: bold;
  line-height: 1em;
}

.c-svg {
  position: relative;
  display: block;
  overflow: hidden;
}

.c-svg--overflow {
  overflow: visible;
}

.c-svg__text {
  display: none;
}

.c-svg__image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
}
.c-svg__image > svg {
  position: absolute;
  top: 0;
  left: 0;
  overflow: visible;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.c-svg--outline svg {
  fill-opacity: 0;
  stroke: #222;
  stroke-width: 1;
}

.c-svg--synthwave--indi {
  padding-top: 67.3076923077%;
}
.c-svg--synthwave--indi .c-svg__image {
  top: -0.119047619%;
  right: -0.0801282051%;
  bottom: -0.119047619%;
  left: -0.0801282051%;
}

.c-svg--title--we-create-the-web {
  padding-top: 16.2303664921%;
}
.c-svg--title--we-create-the-web .c-svg__image {
  top: -1.6129032258%;
  right: -0.2617801047%;
  bottom: -1.6129032258%;
  left: -0.2617801047%;
}
.titulos {
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}

.nav-dots{
  display: none;
}

.carousel {
  width: 100%;
}

.slide-box {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .slide-box img {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .slide-box img {
    -ms-flex: 0 0 33.3333%;
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
  }
}

@media (min-width: 992px)
{
  .slide-box img {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
        padding: 10px;
  }
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: .5rem;
}
.subtitle-modal{
  color: #14162d;
    font-weight: 500;
}
.title-modal{
  color: #14162d;
  font-weight: bold;
  font-size: 22px;

}
.img-modal{
  text-align: center;
}

.img-modal  img{
  width: 50px;
  padding: 0 0 16px;
}
.icon-expand{
  /*position: absolute;*/
  font-size: 30px;
  right: 1rem;
  top: 1rem;
  color: white;
  transition: .8s;
      z-index: 2;
}
/*
.icon-expand:hover .overlay-banner::before {
  position: absolute;
  width: 350px;
  height: 350px;
  background: #ffffffbf;
  z-index: 1;
  content: "";
}*/
/*
#menu1,#menu2{
  position: relative;
  display: none;
  margin-bottom: 1rem;
}*/

.block{
  display: block!important;
}
.p30{
  padding: 30px;
}
.section-white{
  
  margin-top: 55px;
}
.title-blue{
  color: #14162d!important;
}
.transform-txt{
  transform: translate3d(0px, 165px, 0px)!important;
}

.scroll-indicator {
	position:fixed;
	right:20px;
	top:0;
	bottom:50px;
	width:1px;
}
.scroll-indicator:before {
	content:"";
	position:fixed;
	right:20px;
	top:0;
	bottom:0;
	width:1px;
	background:#0FF;
}
.indicator {
	top:0;
	left:-5px;
	position:absolute;
	width:10px;
	height:50px;
	border-radius:5px;
	background:red;
	box-shadow:0 0 10px rgba(0,0,0,0.5);
}
.indicator span {
	position:absolute;
	padding-right:10px;
	transform:translate(-100%, 50%);
}

.card-model {
  /*position: absolute;*/
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  height:360px;
  background: #000;
}
.card-model .image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.card-model .image img {
  width: 100%;
  transition: .5s;
  height: 100%;
  object-fit: cover;
}
.card-model:hover .image img {
  opacity: .5;
  transform: translateX(30%);/*100%*/
}
.card-model .details {
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;/*100%*/
  height: 100%;
  background: #dadada;
  transition: .8s;
  transform-origin: left;
  transform: perspective(2000px) rotateY(-90deg);
  padding: 15px;
}
.card-model:hover .details {
  transform: perspective(2000px) rotateY(0deg);
}
.card-model.details .center {
  padding: 20px;
  text-align: center;
  background: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.card-model .details .center h1 {
  margin: 0;
  padding: 0;
  color: #14162d;
  line-height: 20px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
}
.card-model .details .center h1 span {
  font-size: 14px;
  color: #fff;
}
.card-model .details .center p {
  margin: 10px 0;
  padding: 0;
  color: #14162d;
}
.card-model.details .center ul {
  margin: 10px auto 0;
  padding: 0;
  display: table;
}
.card-model .details .center ul li {
  list-style: none;
  margin: 0 5px;
  float: left;
}
.card-model .details .center ul li a {
  display: block;
  background: #fff;
  color: #fff;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  transform: .5s;
}
.card-model .details .center ul li a:hover {
  background: #14162d;
}
.pb-12{
  padding-bottom: 5rem!important;
}
.title-model{
  color: #14162d;
  font-weight: bold;
  text-align: end;
  margin: 20px 0px;
  transition: .8s;
}
.card-model:hover .title-model{
  opacity: 0;

}
.section-title_ex {
    top: 72px!important;
}
.slide-item-gallery-a img {
  height: 420px;
}
.pl-7{
  padding-left: 7rem!important;
}
.main-blog{
position: relative;
}
.main-blog_item img{
  width: 500px;
  height: 300px;
  object-fit: cover;
}
.main-blog_item{

}
.main-blog_item:nth-child(2n){
  text-align: end;
  padding-left: 38rem;

}
.main-blog_item:nth-child(2n+1){
  padding-right: 38rem;
}
.main-blog_txt{
  display: flex;
  justify-content: space-between;
  color: #12162d;
}
.main-blog_item:nth-child(2n) .main-blog_txt{
  text-align: start;
  margin-left: 10px;
}
.main-blog::before{
  content: "";
  position: absolute;
  width: 10px;
  height: 73%;
  /* background: white; */
  right: 49%;
  border: 1px solid #14162d52;
    border-left: 0;
    border-top: 0;
    border-bottom: 0;
}
.main-blog_txt p{
  font-size: 22px;
  font-weight: 600;
}
.main-blog_txt-modal{
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  padding-bottom: 0;
  align-items: center;
  color: #14162d;
}
.main-blog_txt-modal p {
  font-size: 24px;
  font-weight: 600;
  color: #14162d;
  margin-bottom: 0;
}
.blog-modal .close{
  position: absolute;
  right: 3%;
  top: 14px;
}
.main-blog_txt-modal span{
  margin-right: 10%;
}
.blog-modal img{
  width: 100%;
}
.blog-modal .modal-body p{
  color: #14162d;
    font-size: 19px;
    font-weight: 500;
}
.menux{
  position: fixed!important;
  right: 20px;
  top: 20rem;
  margin: 0;
  padding: 0!important;
  z-index: 999;
  width: 80px;
}
.navbar-a .navbar-toggler{
  width: 80px!important;
}
.icon {

  width: auto!important;
  height: auto!important;
 
}
.scroll-progress-circle {
  position: fixed;
  top: 8px;
  right: 8px;
  z-index: 10;
  width: 75px;
  height: 75px;
  fill: none;
  stroke: var(--scroll-progress-circle-color, #673ab7);
  stroke-width: 3px;
  stroke-dashoffset: 125.6811294556;
  stroke-dasharray: 125.6811294556;
  background-color: var(--scroll-progress-circle-bg-color, #e0e0e0);
  border-radius: 50%;
}
.items-exp{
  margin: 16px 0;
}
.items-exp span{
  margin-right: 35px;
}
.img-logo_exp {
  position: absolute;
  width: 100%!important;
  height: 100%!important;
  left: 0;
}
.item-image{
  position: relative;
}
.item-image::before{
  content: "";
  position: absolute;
  background: red;
}

.icon-menu-c{
  border-radius: 50%!important;
  box-shadow: 0px 0px 10px #14162d42;
}
.items-exp{
  font-size: 22px;
  margin: 25px 0;
  color: #696464;
}
.btns-group p{
  font-size: 1rem;
  color: #14162d;
}
.btns-group{
  height: 20vh;
    overflow-y: auto;
    margin-bottom: 1rem;
}
@media (min-width: 0px) and (max-width: 768px) {
  .main-blog_item:nth-child(2n+1) {
    padding-right: 0;
}
.main-blog_txt {
  display: block;
  margin-bottom: 20px;
}
.main-blog_item img {
  width: 100%;
  height: 100%;
}
.main-blog_item:nth-child(2n) {
  padding-left: 0;
}
.main-blog_txt-modal {
  display: block;

}
.main-blog_txt p {

  margin-bottom: 0;
}
.main-blog::before {
  width: 7px;
  right: 49%;

}
.main-blog::before{
  display: none;
}
.main-blog_item {
  margin-bottom: 4rem;
}
}
.form-select {
    display: block;
    width: 40%;
}

.pricing-table-wrapper {
  max-width: 71rem;
  margin: 0 auto;
}

.pricing-table {
  --pricing-table-color: hsl(219, 83%, 57%);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16em, 1fr));
  grid-gap: 2em;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}
.pricing-table__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 2em;
  border-radius: 1.5em;

  transition: box-shadow 200ms cubic-bezier(0.02, 0.01, 0.47, 1), transform 200ms cubic-bezier(0.02, 0.01, 0.47, 1);
  margin: 0 1rem;
  box-shadow: 0px 0px 15px #00000029;

}
.pricing-table__item:hover {
 
  transform: translate(0, -20px);
}

.pricing-table__item--popular {
  position: relative;
}
.pricing-table__item--popular::before {
  position: absolute;
  content: attr(data-popular);
  top: 2em;
  right: 2em;
  font-size: 0.9em;
  padding: 0 1em;
  background-color: #ffd900;
  border-radius: 1em;
  color: #282824;
}
.pricing-table__img {
  margin: 2.5em auto 4em;
  width: 100%;
  max-width: 9.3em;
}
.pricing-table__title {
  margin: 0;
  font-size: 1.7em;
  text-transform: capitalize;
  color: #14162d;
    font-weight: 700;
}
.pricing-table__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
.pricing-table__tagline {
  margin: 0;
  color: #14162d;
  text-align: start;
  margin: 2rem 0;
  font-size: 1rem;
}
.pricing-table__price {
  color: var(--pricing-table-color);
  font-size: 2.5em;
  margin: 0em auto 0;
  font-weight: bold;
}
.pricing-table__label {
  margin: 0;
  color: #9ea0a3;
  font-size: 0.9em;
}
.pricing-table__save {
  color: #4cae4f;
  font-weight: bold;
}
.pricing-table__products {
  margin: 1.87em 0;
  padding: 0;
  list-style-type: none;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.pricing-table__product {
  display: flex;
  align-items: center;
  font-weight: bold;
  margin-bottom: 0.5em;
}
.pricing-table__product a {
  text-decoration: none;
  color: #14162d;
  transition: color 0.2s ease-in-out;
}
.pricing-table__product a:hover {
  color: var(--pricing-table-color);
}
.pricing-table__product::before {
  content: " ";
  width: 0.5em;
  height: 0.5em;
  -webkit-margin-end: 1em;
          margin-inline-end: 1em;
  border-radius: 50%;
  background-color: var(--pricing-table-color);
}
.pricing-table__product--excluded::before {
  content: " ";
  width: 0.5em;
  height: 0.5em;
  -webkit-margin-end: 1em;
          margin-inline-end: 1em;
  border-radius: 0;
  color: red;
  background: no-repeat url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 20 20' id='entypo-cross' width='32' height='32' fill='hsl(4, 90%, 58%)'%3E%3Cg%3E%3Cpath d='M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z'/%3E%3C/g%3E%3C/svg%3E") center/contain;
  transform: scale(2.5);
}
.pricing-table__button {
  background: #14162d;
  color: #fff;
  margin-top: auto;
  padding: 8px 9px;
  text-decoration: none;
  width: 60%;
  /* border-radius: 1.87em; */
  text-align: center;
  transition: background 0.2s ease-in-out;
  text-transform: uppercase;se-in-out;
  text-transform: capitalize;
}
.pricing-table__button:hover {
  border: 1px solid #14162d;
    color: #14162d;
    background: transparent;
}

.parent-slider {
 
  margin: 0 auto;
}
.parent-slider > .swiper-wrapper > .swiper-slide {

  padding: 40px;
  box-sizing: border-box;
}
.parent-slider > .swiper-wrapper h2 {
  margin: 0 0 20px;
  font-size: 32px;
  color: #fff;
  text-transform: uppercase;
}
.parent-slider .child-slider {
    /* padding: 32px 0; */
    background: transparent;
}
.item-content .title{
  font-size: 2rem;
  font-weight: 700;
  color: #14162d;
}
.parent-slider img{
  width: 100%;
  height: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
  object-position: top;
}
}
.swiper-button-prev:after, .swiper-button-next:after {

  background: white;
  padding: 10px 14px;
  font-size: 1.5rem;
  color: #14162d;
  font-weight: bold;
}
.parent-slider .logo-expres{
  width: 100px!important;
  height: auto;
}
.icon-menu-c {
 
  
}

.swiper-container-wrapper {
  display: flex;
  flex-flow: column nowrap;
  height: 84vh;
  width: 100vw;
  padding: 0px 9rem;
}

@media (min-width: 480px) {
  .swiper-container-wrapper {
    flex-flow: row nowrap;
  }
}

.swiper-button-next, .swiper-button-prev {
  color: #000;
}

#team .swiper-slide-duplicate,
#team .swiper-slide {
  text-align: center;
  background-size: cover;
  background-position: center;
  background-color: transparent;
  /* Center slide text vertically */
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  /* Slide content */
}
#team .swiper-slide-duplicate .description,
#team .swiper-slide-duplicate .title,
#team .swiper-slide .description,
#team .swiper-slide .title {
  display: block;
  color: #14162d;
 /* opacity: 0;
  transition: 0.5s ease 0.5s;*/
}
#team .swiper-slide-duplicate-active .description,
#team .swiper-slide-duplicate-active .title,
#team .swiper-slide-active .description,
#team .swiper-slide-active .title {
  opacity: 1;
}
#team  .title,
#team  .title {
  margin-bottom: 0.5rem;
  font-size: 24px;
  color: #000;
  transition: opacity 0.5s ease 0.5s;
  font-weight: 700;
}
#team .swiper-slide-duplicate-active .description,
#team .swiper-slide-active .description {
  font-size: 16px;
  
  transition: opacity 0.5s ease 0.75s;
}

.gallery-top {
  width: 100%;
  height: 75vh;
}
@media (min-width: 480px) {
  .gallery-top {
    width: 80%;
    height: 100vh;
    margin-right: 10px;
  }
}/*

.gallery-thumbs {
  width: 100%;
  height: 25vh;
  padding-top: 10px;
}
@media (min-width: 480px) {
  .gallery-thumbs {
    width: 20%;
    height: 100vh;
    padding: 0;
  }
}
.gallery-thumbs .swiper-wrapper {
  flex-direction: row;
}
@media (min-width: 480px) {
  .gallery-thumbs .swiper-wrapper {
    flex-direction: column;
  }
}
.gallery-thumbs .swiper-slide {
  width: 25%;
  flex-flow: row nowrap;
  height: 100%;
  opacity: 0.75;
  cursor: pointer;
}
@media (min-width: 480px) {
  .gallery-thumbs .swiper-slide {
    flex-flow: column nowrap;
    width: 40%;
  }
}
.gallery-thumbs .swiper-slide-thumb-active {
  opacity: 1;
}*/
.img-team{
  text-align: center;
  background-size: cover!important;
  width: 40%;
  height: 155px;
  object-fit: cover!important;
  border-radius: 50%;
  box-shadow: 0px 4px 11px #00000066;
  object-position: top;
  margin-bottom: 1rem;
}

.team-title{
  color: #14162d;
  font-weight: 700;
  margin-bottom: 0;
  text-align: center;
}
.team-sub{
  color: #14162d;
}
.team-des{
  opacity: 0;
  height: 100%;
  background: #14162d;
  color: #fff;
  position: absolute;
  /* max-width: 300px; */
  max-height: 200px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding: 13px;
  text-align: start;
  top: 0;
  width: 100%;
  transition: .6s;
  overflow: hidden;
}
.team-content{
cursor: pointer;
  text-align: center;
  margin-bottom: 2rem;
  position: relative;
}

.team-content:hover .team-des{
  opacity: 1;
    height: 100%;
    
}
.team-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0px 10rem;
}
.m-1{
  margin-top: -1px!important;
}
.pt-10{
  padding-top: 10rem;
}
.mt--5{
  margin-top: -5rem;
}
/******************************************/
.section-navegation {
  position: relative;
  z-index: 0;
  width: auto;
  height: auto;
  overflow: hidden;
  cursor: pointer;
  transform: scale(1);
  will-change: transform, contents;
  transition-property: all;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  margin: 3rem 0;
  background: #fffffffa;
  border-radius: 10px;
  padding: .8rem .5rem;
}

.demo-box {
  /*display: flex;*/
  height: 100%;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  font-size: 1.5rem;
  font-weight: 600;

  color: #12152a;
}
.main-content_navegation{
  height: 100vh;
  position: relative;
}

.section-navegation.is-expanded .demo-box{
  color: #14162c;
  display: flex;
  flex-direction: column;
  font-weight: 600;}
.section-title-nav{

    right: 0;
    width: 100%;
    text-align: center;
   
}
.section-title-nav h2{
  font-size: 3rem!important;
  opacity: 1!important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.img_navs{
  width: 65px;
  margin-bottom: 19px;
}
.ttile-navegation{
  color: #fff;
  z-index: 2;
  text-align: center;
  margin: 1rem 0;
  height: 15vh;
  overflow: auto;
}
.demo-box:hover {
  color: #7ad7f6;
}
.main-content_navegation::before{
  content: "";
  background: #12152a;
  position: absolute;
  width: 100%;
  height: 100%;
}
.txt-navegation{
  font-size: 1.2rem;
  color: #000;
}
.img-nav{
 width: 100%;
 height: 100%;
 padding: 50px;
}
.center--nav{
  display: flex;
  justify-content: center;
}

@-webkit-keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}
.slider {
  background: white;

  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 960px;
}
.slider::before, .slider::after {
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  -webkit-animation: scroll 40s linear infinite;
          animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}
.slider .slide {
  height: 144px;
  width: 200px;
}
.icon-demo{
  width: 40px!important;
  height: 40px!important;
  margin-right: 1rem;
}
.p-navigation{
  font-size: 1.1rem;
}
.alto{
  height: 200vh;
}
.alto2{
  height: 250vh;
}
.bordess{
  border: 1px solid #ef1111;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  font-size: 1rem;
}
.row-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.slide img{
  object-fit: contain;
    height: 100px;
    width: 100%;
}
.bordess p{
  margin-bottom: 0;
}

/* ------------------------- Separate line ------------------------- */
.circular-menu {
  font-size: 20px;
  width: 400px;
  height: 250px;
  margin-left: -200px;
  margin-top: 5rem;
  padding-left: 200px;
  padding-top: 20px;
}
.circular-menu__button {
  display: none;
}
.circular-menu__button:checked + .circular-menu__icon {
  transform: scale(0.8, 0.8) translate3d(0, 0, 0);
  transition-duration: 0.2s;
  transition-timing-function: linear;
}
.circular-menu__button:checked + .circular-menu__icon > .hamburger-bar:nth-child(1) {
  transform: translate3d(0, 0, 0) rotate(45deg);
}
.circular-menu__button:checked + .circular-menu__icon > .hamburger-bar:nth-child(2) {
  transform: translate3d(0, 0, 0) scale(0.1, 1);
}
.circular-menu__button:checked + .circular-menu__icon > .hamburger-bar:nth-child(3) {
  transform: translate3d(0, 0, 0) rotate(-45deg);
}
.circular-menu__button:checked ~ .circular-menu__item {
  transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
}
.circular-menu__button:checked ~ .circular-menu__item:nth-of-type(1) {
  transition-duration: 0.18s;
  transform: translate3d(0px, -180px, 0);
}
.circular-menu__button:checked ~ .circular-menu__item:nth-of-type(2) {
  transition-duration: 0.28s;
  transform: translate3d(207.860934px, -32.446784369999996px, 0);
}
.circular-menu__button:checked ~ .circular-menu__item:nth-of-type(3) {
  transition-duration: 0.38s;
  transform: translate3d(113.717451px, 183.946784px, 0);
}
.circular-menu__button:checked ~ .circular-menu__item:nth-of-type(4) {
  transition-duration: 0.48s;
  transform: translate3d(-153.717451px, 165.946784px, 0);
}
.circular-menu__button:checked ~ .circular-menu__item:nth-of-type(5) {
  transition-duration: 0.58s;
  transform: translate3d(-189.860934px, -50.446784px, 0);
}
.circular-menu__icon {
  background: transparent;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgb(0 0 0 / 25%);
  color: #12162d;
  height: 130px;
  line-height: 80px;
  margin-left: 3rem;
  position: absolute;
  text-align: center;
  top: 20px;
  transform: translate3d(0, 0, 0);
  transition: transform ease-out 0.2s;
  width: 131px;
  cursor: pointer;
  transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  z-index: 2;
  line-height: 1;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 2rem;
}
.circular-menu__icon:hover {
  transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}
.circular-menu__icon > .hamburger {
  background: #fff;
  display: block;
  width: 25px;
  height: 3px;
  left: 50%;
  margin-left: -12.5px;
  margin-top: -1.5px;
  position: absolute;
  top: 50%;
  transition: transform 0.2s;
}
.circular-menu__icon > .hamburger-bar:nth-child(1) {
  transform: translate3d(0, -8px, 0);
}
.circular-menu__icon > .hamburger-bar:nth-child(2) {
  transform: translate3d(0, 0, 0);
}
.circular-menu__icon > .hamburger-bar:nth-child(3) {
  transform: translate3d(0, 8px, 0);
}
.circular-menu__item {
  background: #12162d;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgb(0 0 0 / 25%);
  color: #fff;
  height: 120px;
  line-height: 80px;
  margin-left: 3rem;
  position: absolute;
  text-align: center;
  top: 9px;
  transform: translate3d(0, 0, 0);
  transition: transform ease-out 0.2s;
  width: 120px;
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circular-menu__item:nth-of-type(1) {
  transition-duration: 0.18s;
}
.circular-menu__item:nth-of-type(2) {
  transition-duration: 0.18s;
}
.circular-menu__item:nth-of-type(3) {
  transition-duration: 0.18s;
}
.circular-menu__item:nth-of-type(4) {
  transition-duration: 0.18s;
}
.circular-menu__item:nth-of-type(5) {
  transition-duration: 0.18s;
}
.circular-menu__item:hover {
  color: #dc143c;
  background: #fff;
}
.circular-menu__item p{
  opacity: 0;
}
.circular-menu__item:hover p{
  opacity: 1;
}

.circular-menu__item:active,
.circular-menu__item:focus {
  color: #8b0000;
}
.circular-menu__item img{
  width: 50px;
  height: 50px;
  object-fit: contain;
}
.section-navegation-data.is-expanded {
  top: -11rem!important;
}


div.middle{
  top: -5%;
  right:0;
  bottom:0;
  left:0;
  position:absolute;
  margin:auto;
  height:120px;
  width:100%;
  text-align:center;
}
.p8{
  padding-top: 0rem!important;
}
.text-type-animation{
  text-transform:uppercase;
  font-size: 2rem;
  
}
.txt-rotate{
  color:#fff;
  font-family: 'Lato', sans-serif;
  text-transform: capitalize;
}

.back-banner{
  background-size: 100%;
  height: 100vh;
  width: 100%;
  position: relative;
}
.back-banner::before{
  content: "";
  position: absolute;
  background: #01193582;
  width: 100%;
  height: 100%;
}

.demo-gallery{
  display: grid;
  z-index: 1;
  grid-template-columns: 1fr 1fr 1fr ;
  margin-top: 2rem;
  gap: 16px;
}
.swiper-miniaturas{
  display: initial!important;
}
.swiper-miniaturas .swiper-slide {
  width: 30%;
  margin: 12px;
}
.content-service{
  padding: 1rem;
}
.demo-gallery img{
  width: 100%;
  height: 130px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0px 0px 7px #0000006b;
}

.menu-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10rem;
    padding: 2rem;
}
.menu-grid_item{
  overflow: hidden;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-grid::before{
  content: "";
  position: absolute;
  border: 1px solid #ffffff0d;
  height: 500px;
  right: 50%;
  top: 15%;
}
.section-navegation p {
  transition: .9s;
  height: 0px;
  margin-bottom: 0;
  color: transparent;
}
 .btn-minicard{
  /*transition: .9s;
  height: 0px;
  margin-bottom: 0;
  color: transparent;
  background: transparent;
  width: 100px;*/
}
.section-navegation:hover p {
  opacity: 1;
  position: relative;
  transition: .9s;
  transform: translate(0, 0%);
  height: 100px;
  margin-top: 1rem;
  color: #12152a;
}
.section-navegation-height:hover p {
  height: 190px;
}
.section-navegation:hover .btn-minicard{
  /*opacity: 1;
  position: relative;
  transition: .9s;
  transform: translate(0, 0%);
  height: auto;
  color: #fafafb;
  background: #12152a;
  width: 100px;
  border-radius: 10px;
  padding: .3rem 0;
  text-align: center;*/
} 
.section-navegation:hover .demo-box {

  color: #000;

}
.btn-volver{
  position: absolute;
  left: 22px;
  text-align: start;
    top: 20px;
    font-size: .789rem;
    z-index: 1;
    color: #fff;
    font-weight: bold;
}

  /* time */
  .timeline-xs {
    display: none;
  }

  .timeline-lg {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

    transition: .5s;
    position: relative;
    margin: 50px;
    margin-top: 120px;
    margin-bottom: 120px;
  }

  .timeline_title::after {
    width: 50px;
    height: 1px;
    content: "";
    display: block;
    /* background: red; */
    /* background-color: #96949429; */
    margin-left: auto;
    margin-right: auto;
  }

  .timeline_body {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .timeline_body::after {
    width: 100%;
    content: "";
    z-index: -1;
    /* transform: translateY(-90%); */
    border-top: 1px solid #676565ba;
    position: absolute;
    top: 50%;
    right: 50%;
  }

  .timeline_body:nth-child(1)::after {
    width: 100%;
    content: "";

    z-index: -1;
    transform: translateY(-93%);
    border-top: 1px solid#676565ba;
    position: absolute;
    /* top: 130px; */
    left: 50%;
  }

  .timeline_body:nth-child(2)::after {
    width: 100%;
    content: "";

    z-index: -1;
  /* transform: translateY(-93%);
  border-top: 1px solid#676565ba;
  position: absolute;
  top: 130px;

  left: 0; */
  transform: translateY(-93%);
  border-top: 1px solid#67656500;
  position: absolute;
  /* top: 130px; */
  left: 0;
}

.timeline_title h3 {
  text-align: center;
  color: #14162d;
  font-size: 1.4rem;
}


.timeline_title::before {
  width: 15px;
  height: 15px;
  display: block;
  content: "";
  background-color: #14162d;
  border-radius: 50%;
  transform: translateY(50%) translateX(-50%);
  position: absolute;
  top: 40%;
  left: 50%;
  transition: .5s;

}

.timeline_elements {
  position: relative;
}

.timeline_img {
  opacity: 0;
  width: 200px;
}

.timeline_img img {
  width: 100%;

  border-radius: 10px;
  box-shadow: 0px 4px 20px 5px rgba(0, 69, 255, 0.1);
  height: 120px;
    object-fit: cover;
}

.timeline_icon {
  position: absolute;
  /* top: 50%; */
  top: 88%;
  left: 35%;
  transition: .5s;
}
.timeline_icon img{
  z-index: 1;
    width: 60%;
    height: 60%;
}

.timeline_icon::before {
  background: white;
  width: 80px;
  display: flex;
  height: 80px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  transition: all 0.35s ease;
  box-shadow: 0px 4px 20px 5px rgba(0, 69, 255, 0.1);
  text-decoration: none;
  content: "";
  position: absolute;
  transition: .5s;
}

.timeline_icon::after {
  width: 1px;
  height: 50px;
  margin-bottom: 11px;
  margin-left: -10px;
  content: "";
  border-left: 1px solid #afadad;
  transform: translateY(100%);
  position: absolute;
  left: 50%;
  bottom: 0;
  z-index: -1;
}

.timeline_icon {
  width: 70px;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
  font-size: 25px;
  text-align: center;
  /* background-color: #333; */
  /* border: 2px solid #7f7f7f; */
  border-radius: 50%;
  transition: .5s;
  transition: background-color 0.25s ease-in;
  color: #ffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timeline_body:nth-child(odd) .timeline_icon::after {
  margin-left: -5px;
  content: "";
  border-left: 1px solid #afadad;
  transform: translateY(100%);
  position: absolute;
  left: 50%;
  bottom: 104px;


}

.timeline_icon [class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
  color: #14162d;
  margin-left: 0px !important;
  font-size: 40px !important;
  color: #14162d;
}

.timeline_title h3 {
  position: absolute;
  transition: .5s;
  width: 100%;
  left: 0;
}

.timeline-lg .timeline_body:nth-child(5) .timeline_title h3 {
  top: -20%;
}

.timeline_title p {
  position: absolute;
  transition: .5s;
}

.timeline_body p {
  text-align: center;
  font-size: 1rem;
  line-height: 1.2;
  width: 100%;
  transform: translate(-40%, 120%);
color: #000;
}

.timeline_title p {
  opacity: 0;
}

.timeline_body {

  transition: .5s;
}

.main-time_line i {
  z-index: 9;
}

.timeline-lg .timeline_body:nth-child(even) h3 {
  bottom: 0;
}

.timeline-lg .timeline_body:nth-child(even) .timeline_icon {

  top: -36%;
}

.timeline_icon:nth-child(even)::after {

  left: 56%;

}

.main-timeline {
  display: none !important;
}

/* hover timeline */

.timeline_body:hover .timeline_icon::before {
  box-shadow: none;
  background: transparent;
  transition: .5s;
}

.active-time .timeline_icon::before {
  box-shadow: none;
  background: transparent;
  transition: .5s;
}

.timeline_body:hover i {
  opacity: 0;
  transition: all 0.35s ease;
}
.timeline_body:hover .timeline_icon{
  opacity: 0;
  transition: all 0.35s ease;
}

.active-time i {
  opacity: 0;
  transition: all 0.35s ease;
}
.active-time .timeline_icon{
  opacity: 0;
  transition: all 0.35s ease;
}

.timeline_body:hover .timeline_img {
  opacity: 1;
  transition: all 0.35s ease;
  width: 200px;
}

.active-time .timeline_img {
  opacity: 1;
  transition: all 0.35s ease;
}

.timeline_body:hover p {
  opacity: 1;
}

.active-time p {
  opacity: 1;
  color: #000;
  
}

.timeline_body:hover h3 {
  transform: translate(-100px, 155px);
  transform: translateY(-50px);
  transition: .5s;
  font-weight: 900;
}

.active-time h3 {
  transform: translate(-100px, 155px);
  transform: translateY(-50px);
  transition: .5s;
  font-weight: 900;
}

.timeline_body:hover p {
  transform: translate(-40%, 200%);
  transition: .5s;
}

.timeline_body:hover:nth-child(1) p {
  transform: translate(-40%, 250%);
  transition: .5s;
}

.active-time p {
  transform: translate(-40%, 200%);
  transition: .5s;
}

.timeline_body:hover .timeline_title::before {
  top: 100%;
  /* transform: translateY(1150%) translateX(-45%); */
  transition: .5s;
}

.timeline_body:hover:nth-child(1) .timeline_title::before {
  top: 100%;

}

.active-time .timeline_title::before {
  top: 100%;
  /* transform: translateY(1150%) translateX(-45%); */
  transition: .5s;
}

.timeline_body:hover.timeline_body:nth-child(even) h3 {
  transform: translateY(40px);
  transition: .5s;
  font-weight: 900;
}

.active-time.timeline_body:nth-child(even) h3 {
  transform: translateY(40px);
  transition: .5s;
  font-weight: 900;
}

.timeline_body:hover.timeline_body:nth-child(even) p {
  transform: translate(-40%, -100%);
  transition: .5s;
}

.active-time.timeline_body:nth-child(even) p {
  transform: translate(-40%, -100%);
  transition: .5s;
}

.timeline_body:hover:nth-child(even) .timeline_title::before {
  top: -28%;
  transition: .5s;
}

.active-time:nth-child(even) .timeline_title::before {
  top: -80%;
  transition: .5s;
}


/* hover timeline */
.experience-main title {
  font-size: 3rem;
  font-weight: 700;
  color: #14162d;
}
.experience-main .swiper-pagination-bullet-active {

  background: #14162d;
}
.experience-main .swiper-pagination{
  width: 100%;
  bottom: -3px;
  text-align: center;
}

.experience-main .swiper-pagination-bullet {
  width: 20px;
  height: 20px;

  margin: 10px;
}
.section-contact{
  background-size: 100%;
    height: 100%;
    width: 100%;
}
.section-contact::before {
  content: "";
  position: absolute;
  background: #011935;
  width: 100%;
  height: 100%;
  top: 0;
}

.section-contact .text-left{
  z-index: 9999;
}
.child-slider  img {
  height: 350px;
}
.experience-main .demo-gallery {
  display: inherit;
  /* z-index: 1; */
  /* grid-template-col
  umns: 1fr 1fr 1fr; */
  margin-top: 0;
  grid-template-columns: inherit;
  /* gap: 16px; */
}
.home-swiper-container{
  text-align: center;
  justify-content: center;
/*  display: flex;
  max-width: 50%;
  position: absolute;
  top: 40%;*/
}
.home-1{
  font-size: 1.3rem;
  padding: 0 15rem;
}
.c-header_line, .c-header_title {

  bottom: -3%;

}
:focus-visible  {
  outline:none;
}
.navbar-toggler:focus {

  box-shadow: none;

}
.certifications img{
  width: 120px;
  background: white;
  border-radius: 10px;
  margin-right: 1rem;
  margin-top: 1rem;
  padding: 10px;
}
.btn-modal{
  text-align: center;
  display: flex;
  justify-content: center;

}
.btn-modal p{
  background: white;
  border-radius: 10px;
  padding: .5rem 1rem;
  margin-bottom: 0;
  color: #12152a;
  font-weight: 700;
  cursor: pointer;
}
.modal-backdrop {
  background-color: transparent;
  -webkit-backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.67);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
.modal {

  /* background: rgba(0, 0, 0, 0.2); */
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
.swiper-partners{
  overflow: hidden;
}
.swiper-partners .swiper-slide {

  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
 
}
#blog{

    padding: 5rem 0;
}
.subtitless{
  color: #ef1e1e;
    text-align: center;
}
.swiper-partners img{
  width: 100px;
  filter: grayscale(1);
}

.span-style{
  color: #14162d;
    margin: 1rem 0;
}
.viewmore{
  color: rgb(20, 22, 45);
  font-weight: bold;
  cursor: pointer;
}
.content__items-modal span{
  font-weight: 600;
  /* text-decoration: underline; */
  margin-right: .5rem;
  cursor: pointer;
}
.content__items-modal span:hover {
  color: #ef1d1d;
}
.bg-blue{
  background: #fff;
}

.item-feature-c .item-body:hover h4 {
  
  color: #ffff!important;
}


.cards-banner_grids{
  justify-content: center;
    gap: 1rem;
    display: grid;
    grid-auto-rows: 13rem;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
}

.cards-banner_grids  span {
  display: inline-block;
  width: 100%;
}
.moreviews{
  font-weight: 800;
  margin-left: 10px;
}
.titles-modals{
  font-size: 2rem;
  font-weight: bold;
  color: #12152a;
  border-bottom: 1px solid #1b1b1b12;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
}
.modal_cards-styles p{
  color: #12152a;
  font-size: 1.1rem;
  font-weight: 500;
}
.item-img::before{
  background: #14162dd4;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.galley-one{
  grid-template-columns: 1fr;
}
.galley-one img {

  height: auto;
}
.item-feature-c:hover h4, .item-feature-c:hover span{
  color: #fff!important;
}
.item-content {
  background-color: #fff;
  padding: 1em;
  border-radius: 1.5em;
  transition: box-shadow 200ms cubic-bezier(0.02, 0.01, 0.47, 1), transform 200ms cubic-bezier(0.02, 0.01, 0.47, 1);
  box-shadow: 0px 0px 15px #00000029;
}
.experience-main .galley-one a , .pricing-table__item .galley-one a {
  text-align: center;
}
.experience-main .galley-one img,.pricing-table__item  .galley-one img{
  width: 50%;
  height: 130px;
}
.item-content span{
  color: #14162d;
}
.section-navegation-height-modif:hover p {
  height: 143px;
}
.main-blog_txt span{
  display: flex;
    justify-content: center;
}
.main-blog_txt i{
  margin-top: .2rem;
}
.pre-footer{
  height: 40vh;
  width: 100%;
  margin-top: 1rem;
  position: relative;
  background-size: 100%;
  background-position: center;
  background-attachment: fixed;
}
.pre-footer::before{
  background: #14162dd4;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
#experience .demo-gallery{
  display: grid;
grid-template-columns: 1fr 1fr;
}
#menu3 .section-navegation {
    margin: 1.5rem 0;
    padding: .5rem .4rem;
}
#menu3 .demo-box {
  font-size: 1.2rem;
}

.video-play-button {
  position: absolute;
  z-index: 10;
  top: 54%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-sizing: content-box;
  display: block;
  width: 32px;
  height: 44px;
  /* background: #fa183d; */
  border-radius: 50%;
  padding: 18px 20px 18px 28px;
}

.video-play-button:before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 80px;
  height: 80px;
  background: #ef1111;
  border-radius: 50%;
  animation: pulse-border 1500ms ease-out infinite;
}

.video-play-button:after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 80px;
  height: 80px;
  background: #ef1111;
  border-radius: 50%;
  transition: all 200ms;
}

.video-play-button:hover:after {
  background-color: darken(#ef1111, 10%);
}

.video-play-button img {
  position: relative;
  z-index: 3;
  max-width: 100%;
  width: auto;
  height: auto;
}

.video-play-button span {
  display: block;
  position: relative;
  z-index: 3;
  width: 0;
  height: 0;
  border-left: 32px solid #fff;
	border-top: 22px solid transparent;
	border-bottom: 22px solid transparent;
}

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}



.video-overlay {
  position: fixed;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.80);
  opacity: 0;
  transition: all ease 500ms;
}

.video-overlay.open {
  position: fixed;
  z-index: 1000;
  opacity: 1;
}

.video-overlay-close {
  position: absolute;
  z-index: 1000;
  top: 15px;
  right: 20px;
  font-size: 36px;
  line-height: 1;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  transition: all 200ms;
}

.video-overlay-close:hover {
  color: #ef1111;
}

.video-overlay iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  /* width: 90%; */
  /* height: auto; */
  box-shadow: 0 0 15px rgba(0,0,0,0.75);
}
.flex-contact{
  z-index: 1;
text-align: center;
display: flex;
align-items: center;
flex-direction: column;
justify-content: center;
}
.main-content_navegation{
  z-index: 1;
}
.videoo .close{
  color: #fff;
opacity: 1;
width: 100%;
text-align: end;
margin-bottom: 3rem;
font-size: 2rem;
cursor: pointer;
}